
.subunit.USB { 
  fill: #ddc; 
}
.subunit.USK { 
  fill: #ddc; 
}
.subunit.USH { 
  fill: #ddc; 
}
.subunit.CAN { 
  fill: #cdd; 
}
.subunit.MEX { 
  fill: #cdc; }

  #region2 {
    display:  none;
  }


/* Some default styles to make each box visible  */
.box {
  color:  white;
  font-size:  100px;
  text-align:  center;
  text-shadow: 4px 4px rgba(0,0,0,0,0.1);
  padding:  10px;
}


/*  FLEXBOX STUFF */
/* Colors for each box  */
/* .box1 { background: #1abc9c;}
.box2 { background: #3498db;}
.box3 { background: #9b59b6;}
.box4 { background: #34495e;}
.box5 { background: #f1c40f;}
.box6 { background: #e67e22;}
.box7 { background: #e74c3c;}
.box8 { background: #bdc3c7;}
.box9 { background: #2ecc71;}
.box10 { background: #16a085;}  */

/* we start writing out flexbox here. The above is just page setup  */
/* .container {
  display:  flex;
  border:  10px solid goldenrod;
  min-height:  100vh;
  flex-direction: column;
} */
 


 /* 
div.area-1, div.area-2 { display: inline; }
*/
 
  .x-axis path, .y-axis path,
  .x-axis line, .y-axis line{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }

  #demo {
    fill:  black;
    shape-rendering: crispEdges;
  }

  #demo2 {
  fill:  black;
  shape-rendering: crispEdges;
  }

  .path-month{
    fill: none;
    stroke: blue;
    stroke-width: 2px;
  }

  .line{
    fill: none;
    stroke: blue;
    stroke-width: 2px;
  }

  .tick text{
    font-size: 12px;
  }

  .tick line{
    opacity: 0.2;
  }

  h1 {
    font-family:  sans-serif;
    font-weight: 300;
    font-size:  16px;
    shape-rendering: crispEdges;
  }

  .x-axis text, .y-axis text {
    font-family: sans-serif;
    font-size: 10px;
    shape-rendering: crispEdges;
  }
  
  div.tooltip {   
                position: absolute;
                max-width: 200px;
                height: auto;
                padding: 5px;
                background-color: white;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
                -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
                box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
                pointer-events: none; /* MUI IMPORTANTE! */
                font-family: sans-serif;
                font-size:12px;
                shape-rendering: crispEdges;
            }


