
.subunit.USB { 
  fill: #ddc; 
}
.subunit.USK { 
  fill: #ddc; 
}
.subunit.USH { 
  fill: #ddc; 
}
.subunit.CAN { 
  fill: #cdd; 
}
.subunit.MEX { 
  fill: #cdc; }

  #region2 {
    display:  none;
  }

  .subunit.AUA { fill: #ddc; }
  .subunit.AUM { fill: #ddc; }
  .subunit.AUZ { fill: #ddc; }
  .subunit.FJI { fill: #33a02c; }
  .subunit.NCL { fill: #fb9a99; }
  .subunit.NZA { fill: #cdc; }
  .subunit.NZS { fill: #cdc; }
  .subunit.NZC { fill: #cdc; }
  .subunit.NZK { fill: #cdc; }
  .subunit.NZN { fill: #cdc; }
  .subunit.NZA { fill: #fdbf6f; }
  .subunit.PNX { fill: #cdd; }
  .subunit.PNB { fill: #cdd; }
  .subunit.PNX { fill: #cdd; }
  .subunit.PYF { fill: #cdd; }
  .subunit.SLB { fill: #e31a1c; }
  .subunit.TKL { fill: #6acd9a; }
  .subunit.VUT { fill: #b15928; }
  .subunit.WLF { fill: #1f78b4; }


  /* Central America Countries */
  .subunit.ACA { fill: #ddc; }
  .subunit.ACB { fill: #cdd; }
  .subunit.BHS { fill: #cdc; }
  .subunit.BLZ { fill: #ddc; }
  .subunit.CRI { fill: #cdd; }
  .subunit.CUB { fill: #cdc; }
  .subunit.CYM { fill: #ddc; }
  .subunit.DMA { fill: #cdd; }
  .subunit.DOM { fill: #cdc; }
  .subunit.GRD { fill: #ddc; }
  .subunit.GTM { fill: #cdd; }
  .subunit.HND { fill: #cdc; }
  .subunit.HTI { fill: #ddc; }
  .subunit.JAM { fill: #cdd; }
  .subunit.KNA { fill: #cdc; }
  .subunit.LCA { fill: #ddc; }
  .subunit.NIC { fill: #cdd; }
  .subunit.PAN { fill: #cdc; }
  .subunit.SLV { fill: #ddc; }
  .subunit.TTD { fill: #cdd; }
  .subunit.TTG { fill: #cdc; }

  .subunit.ARM { fill: #ddc; }
  .subunit.AZE { fill: #cdd; }
  .subunit.GEA { fill: #cdc; }
  .subunit.GEG { fill: #cdc; }
  .subunit.KAZ { fill: #cdd; }
  .subunit.KGZ { fill: #cdc; }
  .subunit.TJK { fill: #ddc; }
  .subunit.UZB { fill: #cdc; }
  .subunit.TKM { fill: #cdd; }
/*   .subunit.CHI, .subunit.INX,
  .subunit.CHH, .subunit.IRN,
  .subunit.AFG, .subunit.PAK,
  .subunit.RUA, .subunit.RUE,
  .subunit.INA, .subunit.SYX,
  .subunit.IRR, .subunit.TUR,
  .subunit.IRK, .subunit.RUC { 
    fill: white;
    stroke:  #777;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
   } */


  .subunit.CHI { fill: #ddc; }
  .subunit.CHH { fill: #ddc; }
  .subunit.HKG { fill: #cdd; }
  .subunit.JPH { fill: #cdc; }
  .subunit.JPB { fill: #ddc; }
  .subunit.JPI { fill: #ddc; }
  .subunit.JPK { fill: #ddc; }
  .subunit.JPO { fill: #ddc; }
  .subunit.JPX { fill: #ddc; }
  .subunit.JPY { fill: #ddc; }
  .subunit.JPS { fill: #ddc; }
  .subunit.KNX { fill: #cdd; }
  .subunit.KNZ { fill: #cdd; }
  .subunit.KOB { fill: #cdd; }
  .subunit.KOJ { fill: #cdd; }
  .subunit.KOU { fill: #cdd; }
  .subunit.KXI { fill: #cdd; }
  .subunit.PFA { fill: #ddc; }
  .subunit.MAC { fill: #cdc; }
  .subunit.KOX { fill: #cdd; }
  .subunit.PRK { fill: #cdc; }
  .subunit.TWN { fill: #ddc; }


    .subunit.RUE { fill: #ddc; }
    .subunit.RUA { fill: #ddc; }
    .subunit.ALB { fill: #cdd; }
    .subunit.BGR { fill: #cdd; }
    .subunit.BLR { fill: #cdc; }
    .subunit.CZE { fill: #ddc; }
    .subunit.DEU { fill: #cdd; }
    .subunit.EST { fill: #cdc; }
    .subunit.HRV { fill: #ddc; }
    .subunit.HUN { fill: #ddc; }
    .subunit.LTU { fill: #cdd; }
    .subunit.LVA { fill: #ddc; }
    .subunit.MDA { fill: #ddc; }
    .subunit.MKD { fill: #cdc; }
    .subunit.MNE { fill: #ddc; }
    .subunit.POL { fill: #cdc; }
    .subunit.ROU { fill: #ddc; }
    .subunit.RUC { fill: #cdd; }
    .subunit.RUK { fill: #cdc; }
    .subunit.SRS { fill: #cdd; }
    .subunit.SRV { fill: #ddc; }
    .subunit.SVK { fill: #cdd; }
    .subunit.SVN { fill: #cdd; }
    .subunit.UKR { fill: #cdc; }

    .subunit.ARE { fill: #ddc; }
    .subunit.BHR { fill: #cdc; }
    .subunit.DZA { fill: #ddc; }
    .subunit.EGY { fill: #ddc; }
    .subunit.IRN { fill: #ddc; }
    .subunit.ISR { fill: #cdc; }
    .subunit.JOR { fill: #ddc; }
    .subunit.KWT { fill: #cdd; }
    .subunit.LBN { fill: #ddc; }
    .subunit.LBY { fill: #cdd; }
    .subunit.MAR { fill: #cdd; }
    .subunit.QAT { fill: #cdd; }
    .subunit.SAU { fill: #ddc; }
    .subunit.SYU { fill: #cdc; }
    .subunit.SYX { fill: #ddc; }
    .subunit.TUN { fill: #cdd; }
    .subunit.TUR { fill: #cdc; }
    .subunit.YEM { fill: #cdd; }
    .subunit.YES { fill: #ddc; }

/* Some default styles to make each box visible  */
.box {
  color:  white;
  font-size:  100px;
  text-align:  center;
  text-shadow: 4px 4px rgba(0,0,0,0,0.1);
  padding:  10px;
}


/*  FLEXBOX STUFF */
/* Colors for each box  */
/* .box1 { background: #1abc9c;}
.box2 { background: #3498db;}
.box3 { background: #9b59b6;}
.box4 { background: #34495e;}
.box5 { background: #f1c40f;}
.box6 { background: #e67e22;}
.box7 { background: #e74c3c;}
.box8 { background: #bdc3c7;}
.box9 { background: #2ecc71;}
.box10 { background: #16a085;}  */

/* we start writing out flexbox here. The above is just page setup  */
/* .container {
  display:  flex;
  border:  10px solid goldenrod;
  min-height:  100vh;
  flex-direction: column;
} */
 


 /* 
div.area-1, div.area-2 { display: inline; }
*/
 
  .x-axis path, .y-axis path,
  .x-axis line, .y-axis line{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }

  #demo {
    fill:  black;
    shape-rendering: crispEdges;
  }

  #demo2 {
  fill:  black;
  shape-rendering: crispEdges;
  }

  .path-month{
    fill: none;
    stroke: blue;
    stroke-width: 2px;
  }

  .line{
    fill: none;
    stroke: blue;
    stroke-width: 2px;
  }

  .tick text{
    font-size: 12px;
  }

  .tick line{
    opacity: 0.2;
  }

  h1 {
    font-family:  sans-serif;
    font-weight: 300;
    font-size:  16px;
    shape-rendering: crispEdges;
  }

  .x-axis text, .y-axis text {
    font-family: sans-serif;
    font-size: 10px;
    shape-rendering: crispEdges;
  }
  
  div.tooltip {   
                position: absolute;
                max-width: 200px;
                height: auto;
                padding: 5px;
                background-color: white;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
                -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
                box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
                pointer-events: none; /* MUI IMPORTANTE! */
                font-family: sans-serif;
                font-size:12px;
                shape-rendering: crispEdges;
            }



#title_1 {
  width:  50%;
  /* margin: auto; */
  margin-left: 265px;
}

.brush .extent {
  stroke: #FFF;
  shape-rendering: crispEdges;
}

.hover-text {
  stroke: none;
  font-size: 30px;
  font-weight: bold;
  fill: #000000;
}

.axis path,
.axis line, 
.axis1 path,
.axis1 line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.x.axis path, .x.axis1 path {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 1px;
}

.legend-box {
  cursor: pointer;  
}

#mouse-tracker {
  stroke: #E6E7E8;
  stroke-width: 1px;
}

.hover-line { 
  stroke: #E6E7E8;
  fill: none;
  stroke-width: 1px;
  left: 10px;
  shape-rendering: crispEdges;
  opacity: 1e-6;
}







